<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css" />
    <title>Главная страница</title>
</head>
<body>
<main>
    <h1>Программа управления KMM</h1>
    <article>
        <section class="refs">
            <a href="/kmm">Передача данных</a>
            <a href="/static/html/control.html">Управление</a>
            <a href="/static/html/diagnostik.html">Диагностика</a>
            <a href="/conf">Конфигурация</a>
            <a href="/static/html/help.html">Помощь</a>
        </section>
    </article>
</main>
</body>
</html>